<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BandagedBD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BandagedBD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <BandagedBD.Properties.Settings>
            <setting name="AgreedToTerms" serializeAs="String">
                <value>False</value>
            </setting>
        </BandagedBD.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BandagedBD.Properties.Settings>
            <setting name="PrimaryBackground" serializeAs="String">
                <value>28, 28, 28</value>
            </setting>
            <setting name="SecondaryBackground" serializeAs="String">
                <value>42, 42, 42</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>62, 130, 229</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
        </BandagedBD.Properties.Settings>
    </applicationSettings>
</configuration>
